    * {
    margin: 0;
    padding: 0;}

    body {
      height: 100vh;
      overflow: hidden;
    }

    #background-video {
    z-index: -1;
      position: fixed;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .content {
    z-index: 1;
      position: relative;
      text-align: center;
      top: 60%;
      transform: translateY(-50%);
      color: black;
    }

    h1 {
      font-size: 100px;
    }

    p {
      font-size: 20px;
      margin-top: 20px;
    }