body {
  background-image: url("../assets/sparkles.gif");
  background-color: pink;
  background-size: cover;
  height: 100vh;
}

img {
  height: 150px;
  border-radius: 20px;
  padding: 10px;
  transition: 1s;
  filter: grayscale(100%);

}


.small {
  height: 100px!important;
}

img:hover {
  height: 400px;
  filter: grayscale(0%);

}

p:hover {

  letter-spacing: 1em;
}

.specialCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 .links {
  margin-top: 40px;
  margin-left: 150px;
}
}



#p1 {
  animation: coolAnimation 5s infinite;
}

@keyframes coolAnimation {
  0% {
    color: red;
  }
  50% {
    color: green;
  }
  100% {
    color: blue;
  }
}    

.card {
  width: 400px;
  height: 300px;
  perspective: 1000px;
   margin-left: 200px;
}
.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.card:hover .card-inner {
  transform: rotateY(180deg);
}
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-back {
  transform: rotateY(180deg);
  background-color: lightblue;
  display: flex;
  align-items: center;
  padding: 20px;
  
}