body {
  background-image: url("../assets/background.png");
  background-size: cover;
  height: 100vh;
  font-family: "Gamja Flower", sans-serif;
  text-align: center;
}

p {
}
img {
  height: 150px;
  transition: 1s;
}

/*
.cute {
  font-family: "Gamja Flower", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*/

.small {
  height: 100px !important;
}

img:hover {
  height: 400px;
  filter: grayscale(0%);
}

p:hover {
  letter-spacing: 1em;
}

.specialCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  margin-top: 40px;
  margin-left: 150px;
}

a {
  color: black;
  font-size: 30px;
}

a:hover {
  /*background-color: red;*/
  border: 2px solid #e771aa;
  text-shadow:  
}

#p1 {
  animation: coolAnimation 5s infinite;
}

@keyframes coolAnimation {
  0% {
    color: red;
  }
  50% {
    color: green;
  }
  100% {
    color: blue;
  }
}

.card {
  width: 400px;
  height: 300px;
  perspective: 2000px;
  margin-left: 400px;
}
.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.card:hover .card-inner {
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-back {
  transform: rotateY(180deg);
  background-color: lightblue;
  display: flex;
  align-items: center;
  padding: 20px;
}
